# Tensorflow.
tensorflow-cpu~=2.19.0;sys_platform != 'darwin'
tensorflow~=2.19.0;sys_platform == 'darwin'
tensorflow-text~=2.19;platform_system != 'Windows'

# Torch.
--extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.6.0
torchvision>=0.16.0

# Jax.
jax[cpu]

-r requirements-common.txt
