# Tensorflow cpu-only version.
tensorflow-cpu~=2.18
tensorflow-text~=2.18

# Torch with cuda support.
--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.7.0+cu126
torchvision==0.22.0+cu126

# Jax cpu-only version.
jax[cpu]

-r requirements-common.txt
