# Library deps.
dm-tree
regex
rich
kagglehub
# Tooling deps.
astor
packaging
black[jupyter]>=22
flake8
isort
pytest
pytest-cov
build
namex
# Optional deps.
rouge-score
sentencepiece
tensorflow-datasets
