# WARNING: KerasNLP has no official support for MacOS M1 at this time. The
# following will pull required depenencies from the following external sources.
# - https://developer.apple.com/metal/tensorflow-plugin/
# - https://github.com/sun1638650145/Libraries-and-Extensions-for-TensorFlow-for-Apple-Silicon/
# These are not provided by Google, please review both of these dependencies
# before proceeding.

# Core deps.
tensorflow-macos~=2.9
https://github.com/sun1638650145/Libraries-and-Extensions-for-TensorFlow-for-Apple-Silicon/releases/download/v2.9/tensorflow_text-2.9.0-cp39-cp39-macosx_11_0_arm64.whl
tensorflow-datasets
# The metal plugin breaks many tests, so is not enabled by default.
# tensorflow-metal~=0.5

# Common deps.
-r requirements-common.txt
