# Tensorflow.
tensorflow-cpu;sys_platform != 'darwin'
tensorflow;sys_platform == 'darwin'
tensorflow-text>=2.20.1;platform_system != 'Windows'

# Torch.
--extra-index-url https://download.pytorch.org/whl/cpu
litert-torch
torch>=2.6.0
torchvision>=0.16.0

# Jax.
jax[cpu]

# LiteRT (for the model.export(format="litert") tests).
ai-edge-litert

-r requirements-common.txt
