# Tensorflow cpu-only version.
tensorflow-cpu==2.16.0rc0  # Pin to rc until TF 2.16 release
tensorflow-text==2.16.0rc0

# Torch with cuda support.
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.1.2
torchvision==0.16.2

# Jax cpu-only version.
jax[cpu]

-r requirements-common.txt
