# Tensorflow cpu-only version.
tensorflow-cpu~=2.19
tensorflow-text~=2.19

# Torch cpu-only version.
--extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.1.0
torchvision>=0.16.0

# Jax with cuda support.
# Keep same version as Keras repo.
--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda12]==0.6.2

-r requirements-common.txt
