# Library deps.
dm-tree
regex
rich
kagglehub
# Tooling deps.
astor
packaging
black[jupyter]>=22
flake8
isort
pytest
pytest-cov
build
namex
# Optional deps.
rouge-score
sentencepiece
tensorflow-datasets
# TODO #1419: CI fails with `tensorflow-hub==0.16.1` installed from
# `tensorflow-text-nightly` dependency. Remove once GH issue 1419 is closed.
tensorflow-hub==0.16.0